@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    /* w/o box-sizing elements will go beyond */
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
}

#top{
    width: 100%;
    height: 60%;
    background-image: url("https://images.unsplash.com/photo-1535025075092-5a1cf795130b?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

#overlay{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.037);
}

#overlay #text{
    align-items: center;
    position: absolute;
    bottom:20%;
    
    width: 100%;
    padding: 0 10vw;
    color:white;

    display: flex;
    justify-content: space-between;
}

#overlay #text h1{
    font-size: 6vw;
    font-weight: 500;
    
}

 #textright{
    display: flex;
    justify-content: space-between;
    width: 60%;

    align-items: center;
    
    
}
#text #textright p{
    font-size:12px;
    
}

#icons{
    color:rgb(251, 250, 251);
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#bottom{
    background-color: lightblue;
    width: 100%;
    height: 40%;

    display: flex;
}

#b-one{
    height: 100%;
    width: 25%;
    background-color: rgb(171, 246, 158);
    color:black;
}
#b-two{
    height: 100%;
    width: 25%;
    background-image: url("https://plus.unsplash.com/premium_photo-1661962819231-1aa10d44631d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8amFndWFyJTIwZmFjZXxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    transform: scaleX(-1);
    
}
#b-three{
    height: 100%;
    width: 20%;
    background-color: rgb(15, 171, 67);
}
#b-three-top{
    height: 50%;
    width: 100%;
    background-color:rgb(29, 115, 29);
}
#b-three-bottom{
    height: 50%;
    width: 100%;
    background-color: rgb(46, 192, 99);
    background-image: url("https://images.unsplash.com/photo-1623334999098-7333609260cd?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9uZHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: bottom;
}
#b-four{
    height: 100%;
    width: 30%;
    background-color: rgb(2, 70, 2);
    color:white;
    padding:30px;
}

.notf{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.notf #photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
.notf p{
    width:85%;
    font-size: 12px;
}